:root {
  --primary-color: #c86b85;
  --secondary-color: #f3d7ca;
  --tertiary-color: #f5eee6;
  --accent-color: #e6a4b4;
}

body {
  margin: 0;
  background-color: var(--primary-color);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 35px;
}

/*Left side images */
.left-side {
  width: 100%;
  height: 100vh;
  display: grid;
}

.picture {
  background-image: url(./sakura-tree.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  width: 40vw;
}

.logo {
  display: flex;
  flex-flow: row wrap;
  height: auto;
  background-color: rgba(13, 10, 5, 0.6);
  position: relative;
  top: 20vh;
  gap: 1vw;
  padding: 15px 0;
  align-items: center;
  justify-content: center;
}

.logo h1 {
  color: #fff;
}

.logo img {
  height: 10vh;
}

/*Right-side*/
.header {
  margin-top: 100px;
  width: 70%;
  background-color: var(--accent-color);
}

form {
  display: grid;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 50px;
}

input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px 5px 5px 10px;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 50vw;
}

button {
  margin-top: 15px;
  padding: 15px;
}
