body {
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 35px;
}

/*Left side images */
.left-side {
  width: 100%;
  height: 100vh;
  display: grid;
}

.picture {
  background-image: url(./sakura-tree.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  width: 40vw;
}

.logo {
  display: flex;
  flex-flow: row wrap;
  height: auto;
  background-color: rgba(13, 10, 5, 0.6);
  position: relative;
  top: 20vh;
  gap: 1vw;
  padding: 15px 0;
  align-items: center;
  justify-content: center;
}

.logo h1 {
  color: #fff;
}

.logo img {
  height: 10vh;
}

/*Right-side*/
.header {
  margin-top: 100px;
  width: 70%;
}

form {
  display: flex;
  flex-flow: row wrap;
}

input {
  display: flex;
  flex-flow: column wrap;
  text-transform: uppercase;
}
